/* STYLE OF LOGO */
.brand{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;
    font-weight:bolder;
    letter-spacing: 2px;
    font-size: 22px;
}

.right-side-div{
    height: 800px;
    width: 100%;
    background-image: url("/static/images/login/yoga.png");
    background-size: cover; /* Adjusts the background image size */
    background-repeat: no-repeat; /* Prevents background image from repeating */
    background-position: center; 
}

/* TELOPHON COUNTRY CODE */
.iti{
    width: 100%;
}

.requiredFiled{
    color: red;
}