/* STYLE OF LOGO */
.brand{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: expanded;
    font-weight:bolder;
    letter-spacing: 2px;
    font-size: 22px;
}
.form-label{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.right-side-div{
    height: 650px;
    width: 100%;
    background-image: url("/static/images/login/yoga.png");
    background-size: cover; /* Adjusts the background image size */
    background-repeat: no-repeat; /* Prevents background image from repeating */
    background-position: center; 
}

/* PASSWORD HIDE AND SHOW */
/* CHANGE ICON COLOR */
.fa-regular{
    color: red;
}
.icon-correct{
    color: rgb(16, 168, 61);
}
.password-validation{
    font-size: small;
}
.password-container{
    display: flex;
    align-items: center;
} 

.password-container i{
    margin: -40px;
    cursor: default;
    color: black;
}
/* END PASSWORD HIDE AND SHOW */

.requiredFiled{
    color: red;
}