/* STYLE OF LOGO */
.brand{
    font-weight:bolder;
    font-size: 22px;
}
.form-label{
    color: black;
}
.right-side-div{
    height: 640px;
    width: 100%;
    background-image: url("/static/images/login/yoga.png");
    background-size: cover; /* Adjusts the background image size */
    background-repeat: no-repeat; /* Prevents background image from repeating */
    background-position: center; 
}

input{
    text-align: center;
    width:45px;
    height: 35px;
    padding: 10px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.outer-container{
    margin-left: 25px;
    margin-right: 25px;
}
.requiredFiled{
    color: red;
}