<!-- Extand Layout -->
{% extends 'UserAuth/PreeAuthentication.html' %}


<!-- Send Data for title -->
{% block title %} 
Fogot password
{% endblock%}


<!-- Send STYLE AND JS in a Head tag -->
{% block head_stylle_and_js %}
    <!-- Custom Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + 'forgot-password-change-password.css') }}">
{% endblock %}



<!-- Send JS in body tag -->
{% block body_js %}
    <!-- Custom js -->
    <script src="{{ url_for('static', filename='javascript/' + 'forgot-password-change-password.js') }}"></script>
    
{% endblock %}



<!-- Send data in body tag -->
{% block body %}
<div class="row justify-content-center">

    <!-- LEFT SIDE DIV -->
    <div class="col-md-6">
        <div class="brand text-left mx-4 pt-3">
            <img class="brand" src="{{ url_for('static', filename='images/login/' + 'logo.png') }}" width="auto" height="55" alt="">
            <span>LovenHeal</span>
        </div>
        <div class="outer-container p-5">
            <div class="inner-container shadow-lg rounded-4 px-4 py-4 mt-5 mx-5">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="h5 fw-bold">Change User Password</p>
                        <p class="text-body-secondary fw-lighter">Please Enter your New password</p>
                    </div>
                </div>
                
                <form action="{{url_for('update_user_password')}}" method="post" id="update_user_password">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label for="password" class="form-label mb-1">New password <span class="requiredFiled">*</span></label>
                            <div class="password-container">
                                <input type="password" class="form-control" id="signUpPassword" name="new_password" placeholder="Enter new password" required>
                                <i class="fa-regular fa-eye-slash Visibility-2"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-12 password-validation">
                            <i class="fa-regular fa-circle-xmark" id="iv1"></i><span id="v1"> Contain at least 8 characters</span><br>
                            <i class="fa-regular fa-circle-xmark" id="iv3"></i><span id="v3"> Contain uppercase and lowercase letters</span><br>
                            <i class="fa-regular fa-circle-xmark" id="iv2"></i><span id="v2"> Contain at least one number and one special character </span><br>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="password" class="form-label mb-1">Confirm new Password <span class="requiredFiled">*</span></label>
                            <div class="password-container">
                                <input type="password" class="form-control" id="signUpConfirmPassword" name="Confirm_new_password" placeholder="Confirm new password" required>
                                <i class="fa-regular fa-eye-slash Visibility-3"></i>
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" id="submit" class="btn btn-primary btn-block form-control">submit</button>
                        </div>
                    </div>
                    <div class="row text-center">
                        <span><a href="/login" style="text-decoration: none;">Back to Login</a></span>
                    </div>

                </form>
                
            </div>
        </div>

    </div>
    <!-- END LEFT SIDE DIV -->

    <!-- RIGHT SIDE DIV -->
    <div class="col-md-6">
        <div class="text-center right-side-div"></div>
    </div>
    <!-- END RIGHT SIDE DIV -->

</div>
{% endblock %}

<!-- SWEET ALERT SHOW IN SCRIPT TAG -->
{% block sweet_alert %}
    {% if success_message %}
        <script>
            window.addEventListener('load', function() {
                Swal.fire({
                title: 'Success!',
                text: '{{success_message}}',
                icon: 'success',
                confirmButtonText: 'Submit'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/login";
                    } 
                });
            });
            
        </script>
    {% endif %}
    {% if error_message %}
        <script>
            window.addEventListener('load', function() {
                Swal.fire({
                title: 'Error!',
                text: '{{error_message}}',
                icon: 'error',
                confirmButtonText: 'Try again'
                });
            });
            
        </script>
    {% endif %}
{% endblock %}
<!-- END SWEET ALERT SHOW IN SCRIPT TAG -->