<!-- Extand Layout -->
{% extends 'UserAuth/PreeAuthentication.html' %}


<!-- Send Data for title -->
{% block title %} 
Forgot Password
{% endblock%}


<!-- Send STYLE AND JS in a Head tag -->
{% block head_stylle_and_js %}
    
    <!-- Custom Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + 'forgot-password-step-one.css') }}">
{% endblock %}



<!-- Send JS in body tag -->
{% block body_js %}
    <!-- Custom js -->
    <script src="{{ url_for('static', filename='javascript/' + 'forgot-password-step-one.js') }}"></script>
{% endblock %}



<!-- Send data in body tag -->
{% block body %}
<div class="row justify-content-center">

    <!-- LEFT SIDE DIV -->
    <div class="col-md-6">
        <div class="brand text-left mx-4 pt-3">
            <img class="brand" src="{{ url_for('static', filename='images/login/' + 'logo.png') }}" width="auto" height="55" alt="">
            <span>LovenHeal</span>
        </div>

        <div class="outer-container p-5">
            <div class="inner-container shadow-lg rounded-4 px-4 py-4 mt-5 mx-5">
                <div class="row mb-4">
                    <div class="col-sm-12">
                        <p class="h5 fw-bold">Forgot your password</p>
                    </div>
                </div>

                <form action="{{url_for('send_otp_for_reset_password')}}" method="post" id="forgot_password">
                    <div class="row">
                        <div class="mb-3">
                            <label for="Username" class="form-label mb-2">Enter your registered phone number. <span class="requiredFiled">*</span></label>
                            <input class="form-control mobileNumber" id="username" name="username" type="tel" placeholder="Enter your 10 digits phone number">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block form-control">submit</button>
                        </div>
                        <div class="row text-center">
                            <span><a href="/login" style="text-decoration: none;">Back to Login</a></span>
                        </div>
                        
                    </div>
                
                </form>
                
            </div>
        </div>

    </div>
    <!-- END LEFT SIDE DIV -->

    <!-- RIGHT SIDE DIV -->
    <div class="col-md-6">
        <div class="text-center right-side-div"></div>
    </div>
    <!-- END RIGHT SIDE DIV -->

</div>
{% endblock %}




<!-- SWEET ALERT SHOW IN SCRIPT TAG -->
{% block sweet_alert %}
    {% if success_message %}
        <script>
            window.addEventListener('load', function() {
                Swal.fire({
                title: 'Success!',
                text: '{{success_message}}',
                icon: 'success',
                confirmButtonText: 'Submit'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/verify-user-otp";
                    } 
                });
            });
            
        </script>
    {% endif %}
    {% if error_message %}
        <script>
            window.addEventListener('load', function() {
                Swal.fire({
                title: 'Erro!',
                text: '{{error_message}}',
                icon: 'error',
                confirmButtonText: 'Try again'
                });
            });
            
        </script>
    {% endif %}
{% endblock %}
<!-- END SWEET ALERT SHOW IN SCRIPT TAG -->
